<!--<script src="shape.Component.ts"></script>-->
<!--<div>-->
    <!--<div class="row">-->
        <!--<div class="caption">-->
            <!--<span>Danh sách {{Title}}</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<table class="table table-bordered">-->
            <!--<thead style="white-space: nowrap">-->
            <!--<tr>-->
                <!--<th>STT</th>-->
                <!--<th>shapeId</th>-->
                <!--<th>problemId</th>-->
                <!--<th>level</th>-->
                <!--<th>Hình dạng</th>-->
                <!--<th>code</th>-->
                <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td></td>-->
                <!--<td>-->
                    <!--<input class="form-control" [(ngModel)]="SearchshapeEntity.shapeId" type="number"-->
                           <!--placeholder="Search..." (keydown.enter)="Search()">-->
                <!--</td>-->
                <!--<td>-->
                    <!--<input class="form-control" [(ngModel)]="SearchshapeEntity.problemId" type="text"-->
                           <!--placeholder="Search..." (keydown.enter)="Search()">-->
                <!--</td>-->
                <!--<td>-->
                    <!--<input class="form-control" [(ngModel)]="SearchshapeEntity.level" type="text"-->
                           <!--placeholder="Search..." (keydown.enter)="Search()">-->
                <!--</td>-->
                <!--<td>-->
                    <!--<input class="form-control" [(ngModel)]="SearchshapeEntity.userId" type="text"-->
                           <!--placeholder="Search..." (keydown.enter)="Search()">-->
                <!--</td>-->
                <!--<td>-->
                    <!--<input class="form-control" [(ngModel)]="SearchshapeEntity.userId" type="text"-->
                           <!--placeholder="Search..." (keydown.enter)="Search()">-->
                <!--</td>-->
                <!--<td style="text-align: center">-->
                    <!--<app-modal>-->
                        <!--<OpenDiv>-->
                            <!--<button type="button" class="btn btn-success btn-circle" *ngIf="mode !== 3">-->
                                <!--<i class="fa fa-plus fa-1x" aria-hidden="true">-->
                                <!--</i>-->
                            <!--</button>-->
                        <!--</OpenDiv>-->
                        <!--<modal-header>-->
                            <!--<h5 class="modal-title" id="add_modal">-->
                                <!--<i class="fa fa-dropbox" aria-hidden="true"></i>-->
                                <!--Thêm {{ Title }}-->
                            <!--</h5>-->
                        <!--</modal-header>-->
                        <!--<modal-body>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                                    <!--<label class="control-label">shapeId:</label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                                    <!--<input type="text" class="form-control" placeholder="Nhập shapeId"-->
                                           <!--name="shapeIdCreate" [(ngModel)]="CreatedshapeEntity.shapeId"-->
                                           <!--required/>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                                    <!--<label class="control-label">problemId:</label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                                    <!--<input type="text" class="form-control" placeholder="Nhập problemId"-->
                                           <!--name="problemIdCreate" [(ngModel)]="CreatedshapeEntity.problemId"-->
                                           <!--required/>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                                    <!--<label class="control-label">level:</label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                                    <!--<input type="text" class="form-control" placeholder="Nhập level"-->
                                           <!--name="levelCreate" [(ngModel)]="CreatedshapeEntity.level"-->
                                           <!--required/>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                                    <!--<label class="control-label">userId:</label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                                    <!--<input type="text" class="form-control" placeholder="Nhập userId"-->
                                           <!--name="userIdCreate" [(ngModel)]="CreatedshapeEntity.userId"-->
                                           <!--required/>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                                    <!--<label class="control-label">userId:</label>-->
                                <!--</div>-->
                                <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                                    <!--<input type="text" class="form-control" placeholder="Nhập code"-->
                                           <!--name="userIdCreate" [(ngModel)]="CreatedshapeEntity.code"-->
                                           <!--required/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</modal-body>-->
                        <!--<modal-footer>-->
                            <!--<button data-dismiss="modal" data-backdrop="false" (click)="Add()"-->
                                    <!--class="btn btn-success">-->
                                <!--<i class="fa fa-check" aria-hidden="true"></i> Lưu-->
                            <!--</button>-->
                            <!--<button type="button" class="btn btn-danger" data-dismiss="modal">-->
                                <!--<span><i class="fa fa-times" aria-hidden="true"></i> Hủy</span>-->
                            <!--</button>-->
                        <!--</modal-footer>-->
                    <!--</app-modal>-->
                    <!--<button type="button" class="btn btn-success btn-circle"><i class="fa fa-download fa-1x"-->
                                                                                <!--aria-hidden="true"></i></button>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr *ngFor="let shape of (shapeEntities ? shapeEntities : []); let i = index">-->
                <!--<td>{{PagingModel.Take * PagingModel.Active + i + 1}}</td>-->
                <!--<td>{{shape?.shapeId}}</td>-->
                <!--<td>{{shape?.problemId}}</td>-->
                <!--<td>{{shape?.level}}</td>-->
                <!--<td>-->
                    <!--<ngvas [width]="250" [height]="200" *ngIf="shape.render != null">-->
                        <!--&lt;!&ndash;<ng-template ngFor let-item [ngForOf]="shape.edgeEntities">&ndash;&gt;-->
                        <!--<ngvas-polygon [x]="10" [y]="10" [fill]="'#03ff5f'" [stroke]="{ width: 1 }"-->
                                       <!--(shape)="Test($event)"-->
                                       <!--[sides]="shape.render" [scaleX]="4" [scaleY]="4" [hitArea]="pixelHitArea"-->
                                       <!--(drag)="Rotate($event,shape)">-->
                        <!--</ngvas-polygon>-->
                        <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                        <!--<ngvas-text [fill]="'#ff1493'" [textStyle]="{ font: '16px TimeNewRoman' }"-->
                                    <!--[x]="10+shape.maxX*2" [y]="10+shape.maxY*2"-->
                                    <!--[text]="shape.shapeId"></ngvas-text>-->
                        <!--<ng-template ngFor let-item [ngForOf]="shape.edgeEntities">-->
                            <!--<ngvas-text [fill]="'#ff1493'" [textStyle]="{ font: '12px TimeNewRoman' }"-->
                                        <!--[x]="10+item.centerX*4" [y]="10+item.centerY*4"-->
                                        <!--[text]="item.edgeId"></ngvas-text>-->
                        <!--</ng-template>-->
                    <!--</ngvas>-->
                <!--</td>-->
                <!--<td>{{shape?.code}}</td>-->
                <!--&lt;!&ndash;<td>{{shape?.userId}}</td>&ndash;&gt;-->
                <!--<td style="text-align: center">-->
                    <!--<button type="button" class="btn btn-primary btn-circle" (click)="LoadDataToUpdateModal(shape,i)">-->
                        <!--<i class="fa fa-edit fa-1x" aria-hidden="true"></i>-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-danger btn-circle delete" (click)="LoadDataToDelete(shape)">-->
                        <!--<i class="fa fa-trash fa-1x" aria-hidden="true"></i>-->
                    <!--</button>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
<!--<app-paging [PagingModel]="PagingModel" [dot]="true" (onChanges)="Search()"></app-paging>-->
<!--<app-modal [OpenModalId]="EditModalComponent.ID">-->
    <!--<modal-header>-->
        <!--<h5 class="modal-title">-->
            <!--<i class="fa fa-dropbox" aria-hidden="true"></i>-->
            <!--Sửa {{ Title }}-->
        <!--</h5>-->
    <!--</modal-header>-->
    <!--<modal-body>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                <!--<label class="control-label">shapeId:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                <!--<input type="text" class="form-control" placeholder="Nhập shapeId"-->
                       <!--name="shapeIdEdit" [(ngModel)]="EditedshapeEntity.shapeId"-->
                       <!--required/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                <!--<label class="control-label">problemId:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                <!--<input type="text" class="form-control" placeholder="Nhập problemId"-->
                       <!--name="problemIdEdit" [(ngModel)]="EditedshapeEntity.problemId"-->
                       <!--required/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                <!--<label class="control-label">level:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                <!--<input type="text" class="form-control" placeholder="Nhập level"-->
                       <!--name="levelEdit" [(ngModel)]="EditedshapeEntity.level"-->
                       <!--required/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                <!--<label class="control-label">userId:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                <!--<input type="text" class="form-control" placeholder="Nhập userId"-->
                       <!--name="userIdEdit" [(ngModel)]="EditedshapeEntity.userId"-->
                       <!--required/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-lg-2 col-md-2 col-sm-2" style="padding-bottom: 10px;">-->
                <!--<label class="control-label">userId:</label>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-4 col-sm-4" style="padding-bottom: 10px;">-->
                <!--<input type="text" class="form-control" placeholder="Nhập code"-->
                       <!--name="userIdEdit" [(ngModel)]="EditedshapeEntity.code"-->
                       <!--required/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</modal-body>-->
    <!--<modal-footer>-->
        <!--<button data-dismiss="modal" data-backdrop="false" (click)="Edit()"-->
                <!--class="btn btn-success">-->
            <!--<i class="fa fa-check" aria-hidden="true"></i> Sửa-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-danger" data-dismiss="modal">-->
            <!--<span><i class="fa fa-times" aria-hidden="true"></i> Hủy</span>-->
        <!--</button>-->
    <!--</modal-footer>-->
<!--</app-modal>-->
<!--&lt;!&ndash; Modal delete&ndash;&gt;-->
<!--<app-modal [OpenModalId]="DeleteModalComponent.ID">-->
    <!--<modal-body>-->
        <!--<div class="modal-body">-->
            <!--<div class="">-->
                <!--<span class="glyphicon glyphicon-warning-sign"></span>Bạn có chắc muốn xóa không ?-->
            <!--</div>-->
        <!--</div>-->
    <!--</modal-body>-->
    <!--<modal-footer>-->
        <!--<button type="button" data-dismiss="modal" class="btn btn-success" (click)="Delete()">-->
            <!--<span><i class="fa fa-check" aria-hidden="true"></i> Đồng ý</span>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-danger" data-dismiss="modal">-->
            <!--<span><i class="fa fa-times" aria-hidden="true"></i> Hủy</span>-->
        <!--</button>-->
    <!--</modal-footer>-->
<!--</app-modal>-->