<div class="TagsInput container">
    <span *ngFor="let Tag of DataList">
        <span [class]="'tag label ' + (Tag.Class == null ? DefaultTagClass : Tag.Class)"
              *ngIf="Tag[PropertySelected] == true">
                       <!--{{Tag[DisplayProperty] == null ? Tag.substr(0,TagLength) : Tag[DisplayProperty].substr(0,TagLength)}}{{(Tag[DisplayProperty] == null ? Tag : Tag[DisplayProperty]).length < DisplayProperty ? "" : "..."}}-->
                       {{Tag[DisplayProperty] == null ? Tag : Tag[DisplayProperty]}}
           <span (click)="RemoveTag(Tag)" [class]="'remove-tag ' + RemoveTagClass"> x</span>
        </span>
    </span>
    <span (mousedown)="Click()" (keyup.esc)="Esc()" (keyup.ArrowDown)="Down()" (keyup.ArrowUp)="Up()"
          (keyup.enter)="Enter()" (keypress)="CurrentNumber = -1; IsShow = true;">
        <ng-content select="dropdown-input">
        </ng-content>
    </span>
    <ul class="dropdown-content list-group" *ngIf="IsShow" (click)="TurnOff($event)" (mousedown)="TurnOn()"
        (mousemove)="Remove()">
        <ng-content select="dropdown-content" *ngIf="IsShow"></ng-content>
        <li *ngIf="DataList == null" class="list-group-item">Đang tải dữ liệu ...</li>
    </ul>
</div>