.list-header {
    font-size: .8rem;
    padding-bottom: 15px;
}

.list-header .list-body .list-form-header .title {
    color: #ffffff;
}

span.input-group-addon i {
    color: #0064b4;
    font-size: .8rem;
}

.paging button {
    background-color: #0064b4;
    border: 1px solid #0064b4;
    color: #ffffff;

}

.page-item {
    font-size: .8rem;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.dropdown-item:hover{
    background-color: #2A92D8;
    color: white;
}

.dropdown-menu{
    font-size: .8rem;
    min-width: 0;
}
#dropdownMenuLink{
    border-radius: 0 !important;
    font-size: .8rem;
}