td {
    outline: none;
}

.subject-sm {
    min-width: 11rem !important;
}

.subject {
    min-width: 17rem;
}

table {
    min-height: 15rem;
    font-size: .8rem;
}

* >>> .fix-dropdown-content {
    min-width: 7rem !important;
}

.body-content{
    min-height: 15rem;
}