@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*.fixed-top {
    top: 0px;
    width: 100%;
    position: absolute;
}*/
.page-info .page-info-content {
    margin-top: 10px;
    width: auto;
}

.page-info .page-info-content .page-info-content-name {
    padding-top: 10px;
    font-size: 14px;
    color: black
}

.page-header-top {
    position: relative;
    height: 60px;
}

.page-header-top .page-logo {
    width: auto;
    height: auto;
    margin-top: 10px;
    display: inline-block;
}

.page-header-top .page-info {
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    display: inline-block;
}

.page-logo a {
    font-weight: 600;
    font-size: 17px;
    color: #0064B4;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    border-radius: 0 !important;
    background-color: #0064B4;
    border-color: #0064B4;
    max-height: 40px !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #2A92D8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #2A92D8;
}

.public-header-avatar {
    display: inline-block;
    margin: 0 auto;
    width: 44px;
    height: 44px;
    background: #dcdcdc;
    border: 2px solid #7D7D7D;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .5);
    border-radius: 50% !important;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

public-header-avatar > img {
    max-width: 100%;
    max-height: 100%;
}

.dropbtn {
    background-color: #0064B4;
    color: white;
    padding: 13px;
    font-size: 15px;
    border: none;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2A92D8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2A92D8;
}

a.fpt-nav-link.nav-link {
    padding: 15px 15px 15px 15px;
}

.tab{
    border: solid 1px rgba(0,0,0,0.5);
    padding-left: 4px;
    background-color: white;
    font-size: 1em;
}

.panel{
    margin-top: 20px;
}

.right-icon{
    display: inline-block;
    float: right;
    margin-right: 15px;
}